@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

#navigation-navbar {
    display: flex;
    flex-direction: row;

    #navbar-home {
        justify-self: flex-start;
        align-content: center;
        padding-left: 10px;
    }

    #navbar-search-container {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #navbar-search {
        justify-self: center;
        flex: 1;
        max-width: 800px;
        
    }

    #navbar-menus {
        justify-self: flex-end;
        padding-right: 10px;
        padding-left: 10px;
    }
}
