.course-card {
    height: 100%;
    border-radius: 15px;
    cursor: pointer;

    .course-card-img {
        border-radius: 15px 15px 0 0;
    }
}

.discount-overlay {
    background-color: rgba($color: white, $alpha: 0.70);
    position: absolute;
    color: white;
    padding: 5px 10px;
    border-radius: 15px 0 15px 0;
}

#promo-price-label {
    font-weight: bold;
    color: green;
}